body {
    margin: 0;
    background-image: url(imagens/digital-devices.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "SUSE";
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 900px;
    height: 450px;
    text-align: center;
    background-color: rgb(229 231 235);
    opacity: 0.8;
}
caption {
    background-color: rgb(31 41 55);
    color: rgb(243, 246, 253);
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
table ,th ,td {
    border-collapse: collapse;
    border: 2px solid rgb(31 41 55);
}
th, td {
    font-weight: 800;
    font-size: 17px;
}
